<header>
    <div class="logo">
        <img src="./img/logo.svg" alt="logo" id="imglogo">
        <h1>Hermanos Jota — Casa Taller</h1>
    </div>
    <button class="menu-toggle" aria-controls="main-navigation" aria-expanded="false">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </button>
    <nav id="main-navigation">
        <ul>
            <li><a href="./index.html" class="active">Inicio</a></li>
            <li><a href="./productos.html">Catálogo</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
            <li><a href="#quienes-somos">Quiénes Somos</a></li>
            <li><a href="#" class="cart">🛒 <span class="contador">0</span></a></li>
        </ul>
    </nav>
</header>