# ========================================
# 🌿 Variables de entorno - Backend NEXUS
# ========================================

PORT=4000

# OPCIÓN 1: Conexión Local (Activa actualmente para que no falle)
# Si tienes MongoDB instalado en tu PC, esto funcionará.
MONGO_URI=mongodb://127.0.0.1:27017/muebleria

# OPCIÓN 2: Conexión Nube (MongoDB Atlas)
# Descomenta la línea de abajo y pon la dirección de tu cluster donde dice "TU_CLUSTER_AQUI" cuando la tengas.
# MONGO_URI=mongodb+srv://osvaldo_user_db:FT7VHBmPlRLhnA5I@TU_CLUSTER_AQUI/muebleria?retryWrites=true&w=majority

# Seguridad
JWT_SECRET=FT7VHBmPlRLhnA5I
JWT_EXPIRES=7d