# ========================================

# 🌿 Variables de entorno - Backend NEXUS

# ========================================



# Puerto en el que corre el servidor Express

PORT=4000



# Cadena de conexión a MongoDB Atlas

# Ejemplo:

# mongodb+srv://<usuario>:<contraseña>@<cluster>.mongodb.net/<nombreDB>

MONGO_URI=



# Cadena de seguridad jwt

JWT_SECRET=



JWT_EXPIRES=7d
