* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fdfaf6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body{
    background-image: url(https://img.freepik.com/foto-gratis/fondo-textura-marmol-beige-grisaceo_53876-124564.jpg?semt=ais_hybrid&w=740&q=80);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #D68C4B;
}

a {
    text-decoration: none;
    color: black;
    margin-right: 30px;
}



.contact-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.contact-box form {
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.308);
    display: flex;
    flex-direction: column;
}

.contact-box form h1 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.contact-box label {
    margin: 15px 0 5px;
}

.contact-box form input,
.contact-box form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

.contact-box form textarea {
    padding-bottom: 50px;
    resize: none;
}

.contact-box form button {
    padding: 10px;
    background: #D68C4B;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.contact-box form button:hover {
    background: #a65f24;
}


footer {
    background: #D68C4B;
    text-align: center;
    padding: 10px;
}